<style>
.carousel-inner img {
    width: 100%;
    height: 100%;
  }

  #demo{
    position: absolute;
    z-index: -1;
  }

  #frontpage{
    color: red; 
    font-size: larger;
    background-color: yellow;
    opacity: 0.5;
    padding: 50px;
  }
  </style>
</head>
<body>

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="Image1.jpg" alt="Image1" width="1920" height="1080">
    </div>
    <div class="carousel-item">
      <img src="Image2.jpg" alt="Image2" width="1920" height="1080">
    </div>
    <div class="carousel-item">
      <img src="Image3.jpg" alt="Image3" width="1920" height="1080">
    </div>
  </div>

</div>
<div id="frontpage">
My frontpage over the carousel
</div>

</body>
</html>