{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'assets/bootstrap_css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/index.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/printing.css' %}">
  <title>Document</title>
</head>

<body >
    <div class="d-flex justify-content-center" style="margin-bottom: 70px;min-height:85vh;">
        <div class="card printing-card  mb-3 d-flex align-items-center vertical-align-middle " style="margin-top:30px;padding-top:50px">
            <div class="row g-0 d-flex align-items-center vertical-align-middle">
                <div class="col-md-5">
                    <img src="{% static 'assets/images/binding-1.jpg' %}" class="img-fluid rounded-start" alt="..."
                        style="padding: 20px;">
                    <div class="table-responsive">
                        <table class="table " >
                            <thead >
                                <tr>
                                    <th scope="col">Pages</th>
                                    <th scope="col"><strong>Price</strong></th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">0-60</th>
                                    <td>₹ 275.00</td>

                                </tr>
                                <tr>
                                    <th scope="row">61-MAX</th>
                                    <td>₹ 275.00 + ₹2.00/page</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size:40px;">Record Binding</h5>
                        <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-success">Price:1.5rs/page</small></p>
                        <form method="post" action="{% url 'add_to_cart' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="product_name" value="Record Binding">
                            <div class="container upload">
                                <input type="file" class="upload-box" id="file" name="pdf_file" accept=".pdf" required/>
                            </div>
                            
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">No.of pages</span>
                                <input name="pages" type="text" id="no_of_pages" class="form-control display"
                                    placeholder="Upload pdf to get page count" aria-label="Username"
                                    aria-describedby="basic-addon1" style="background-color:white;" readonly />

                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon2">No.of copies</span>
                                    <input name="copies" min="1" type="number" id="copies" class="form-control"
                                        placeholder="no_of_copies" aria-label="no_of_copies"
                                        aria-describedby="basic-addon1" value="1" />
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">price</span>
                                    </div>
                                    <input type="number" name="price" value="0.00" class="form-control"
                                        aria-label="Amount (to the nearest dollar)" id="price"
                                        style="background-color:white;" readonly />
                                    <div class="input-group-append">
                                        <span class="input-group-text">₹</span>
                                    </div>
                                </div>
                                <div class="cart mt-4 align-items-center"> <button type="submit"
                                        class="btn btn-success text-uppercase mr-2 px-4">Add to cart</button> <i
                                        class="fa fa-heart text-muted"></i> <i class="fa fa-share-alt text-muted"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script>
    <script src="{% static 'assets/js/record_binding.js' %}"></script>
</footer>
</html>