{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'assets/bootstrap_css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/index.css' %}">
  <!--https://unpkg.com/@popperjs/core@2-->
  <script src="{% static 'assets/js/popper.min.js'%}"></script>
  <script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
  <script src="{% static 'assets/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'assets/js/bootstrap.bundle.js'%}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script>
    var host = "{{ request.scheme }}://{{ request.get_host }}"  
    var url = "{%get_media_prefix%}"
  </script>
  
  <title>SpeedCopy - cart</title>
</head>

<body class="d-flex flex-column min-vh-100">
  {%include 'admin_navbar.html'%}
  <div>
    <section class="h-100" style="padding-bottom: 50px ; min-height: 93vh">
      <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-12 col-lg-12">
            {% csrf_token %}
            <div class="d-flex justify-content-between align-items-center mb-4 h-100">
              <h1 class="fw-normal mb-0 text-black">Orders</h1>
              <div class="row g-3 align-items-center">
                <div class="col-auto">
                  <label for="date" class="form-label" style="margin-top:10px;"><h6>Date</h6></label>
                </div>
                <div class="col-auto border-light">
                  <input type="date" class="form-control date" name="date" id="date">
                </div>
              </div>
              <div class="row g-3 align-items-center">
                <div class="col-auto">
                  <label for="category" class="form-label category" name="category" style="margin-top:10px;"><h6>Category</h6></label>
                </div>
                <div class="col-auto">
                  <select class="form-select category" id='category'
                    style="max-width: 200px;">
                    <option selected value="0">All</option>
                    <option value="1">Printing</option>
                    <option value="2">Spiral Binding</option>
                    <option value="3">Record Binding</option>
                  </select>
                </div>
              </div>
              <button type="button" class="btn btn-success submit">Show</button>
            </div>
            <div class="card mb-4">
              <div class="card-body p-4 d-flex flex-row">
                <div class="form-outline flex-fill">
                  
                  <table class="table text-center">
                    <thead>
                      <tr>
                        <th scope="col"># id</th>
                        <th scope="col">Date</th>
                        <th scope="col">Category</th>
                        <th scope="col">Copies</th>
                        <th scope="col">Colour</th>
                        <th scope="col">Sides</th>
                        <th scope="col">Link</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <script src="{% static 'assets/js/view_orders.js' %}"></script>
</body>
<!--Footer starts here-->
<footer class="footer-2" style="background-color: #01377f; ">

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);color:white">
    © 2023 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">speedcopy.in</a>
    | Designed by example.com
  </div>
  </div>
</footer>
<!--Footer ends here-->

</html>